@keyframes test0
{
    from {background-color: black;}
    to {background-color: aliceblue;}
}
@keyframes test1
{
    0% {background-color: darkgrey;}
    25% {background-color: red;}
}
@keyframes test2
{
    0% {background-color: darkgrey;}
    50% {background-color: yellow;}
}
@keyframes test3
{
    0% {background-color: darkgrey;}
    100% {background-color: green;}
}
.sf_1
{
    width: 400px;
    height: 1000px;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
    animation-delay: 10s;
    animation-name: test0;
    animation-duration: 1s;
    transition: widht 2s, height 4s;
}
.sf_2
{
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    border-radius: 150px;
    position: absolute;
    top: 20px;
    left: 430px;
    z-index: 1;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 250px;
    animation-name: test1;
    animation-duration: 4s;
    transition: widht 2s, height 4s;
    transform: rotate(40deg);
}
.sf_3
{
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    border-radius: 150px;
    position: absolute;
    top: 350px;
    left: 430px;
    z-index: 1;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 250px;
    animation-delay: 2s;
    animation-name: test2;
    animation-duration: 4s;
    transition: widht 2s, height 4s;
    transform: rotate(-40deg);
}
.sf_4
{
    width: 300px;
    height: 300px;
    background-color: darkgrey;
    border-radius: 150px;
    position: absolute;
    top: 680px;
    left: 430px;
    z-index: 1;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 250px;
    animation-delay: 4s;
    animation-name: test3;
    animation-duration: 4s;
    transition: widht 2s, height 4s;
    transform: rotate(40deg);
}